/** GENERAL **/
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    background: url(images/background.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    font: normal small Verdana, Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    padding: 0;
}

h1 {
    color: #fff;
    font: normal 185%/1em Arial, sans-serif;
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
}

h2 {
    color: #BC9848;
    clear: both;
    font: bold 120%/1em Arial, sans-serif;
    letter-spacing: 0;
    margin: 30px 0 15px 0;
    padding: 0px;
}

h5 {
    color: #FE9408;
    clear: both;
    font: bold 120%/1em Arial, sans-serif;
    letter-spacing: 0;
    margin: 30px 0 15px 0;
    padding: 0px;
}

h6 {
    color: #000000;
    clear: both;
    font: bold 100%/1em Arial, sans-serif;
    letter-spacing: 0;
    margin: 30px 0 15px 0;
    padding: 0px;
}

p {
    clear: both;
    padding: 0;
    margin: 10px 0 10px 0;
    font: normal 95%/1.4em Verdana, sans-serif;
}

input[type='number'] {
    text-align: center;
    width: 36px;
}

a img {
    border: 0;
}

a {
    color: #F75B00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

a.logout {
    font-size: 7pt;
    margin-left: 15px;
}

/************* FORM ***************/
textarea {
    color: #363842;
    background: #F7FAFF;
    border-style: solid;
    border-width: 1px;
    border-color: #363842;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
}

input.text {
    color: #004410;
    background: #DCFEE4;
    border-style: solid;
    border-width: 1px;
    border-color: #006F20;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
}

input.submit {
    color: #000000;
    background: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #363842;
    font-size: 9px;
    font-weight: bold;
}

select {
    color: #004410;
    background: #DCFEE4;
    border-style: solid;
    border-width: 1px;
    border-color: #006F20;
    font-size: 11px;
    font-weight: normal;
}

/************* DIVS ***************/
main {
    background-color: #ffffff;
    border-left: 2px solid #FE9408;
    border-right: 2px solid #FE9408;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 95%;
    margin: 0 auto;
    min-height: 100vh;
    padding: 0 4px;
    text-align: left;
    width: 855px;
}

#head1 {
    background: #ffffff;
    /*position: relative;*/
    height: 65px;
    float: left;
}

nav {
    background-color: #70808C;
    clear: both;
    color: #ffffff;
    display: flex;
    flex-flow: row wrap;
    min-height: 35px;
    margin: 0.5rem 0;
    padding: 0;
    width: 100%;
}

nav a, nav a:visited {
    color: #ffffff;
}

.nav-group {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-group:first-child {
    padding-left: 1rem;
}

.nav-group:last-child {
    padding-right: 1rem;
}

.nav-group-item {
    border-left: 1px dashed white;
    height: 100%;
    text-align: center;
    flex-grow: 1;
    line-height: 35px;
    min-width: 100px;
}

.nav-group-item:last-child {
    border-right: 1px dashed white;
}

.admin .nav-group-item {
    background-color: #816E7B;
}

.nav-group-item a {
    display: block;
    height: 100%;
    width: 100%;
}

#mainarea {
    background-color: #fff;
    color: #333;
    margin: 0 0 20px 0;
    overflow: auto;
    padding: 10px;
}

#rightcolumn {
    float: right;
    font-size: 90%;
    margin: 12px 0 15px 2px;
    padding: 0;
    width: 183px;
}

footer {
    border-top: 1px dashed #000000;
    font-size: 0.7rem;
    line-height: 1.6em;
    margin: auto 0 0 0;
    padding: 0.6rem;
}

#logo {
    float: left;
    padding-top: 3px;
    padding-left: 3px;
}

#infos {
    float: left;
    padding-top: 3px;
    padding-left: 5px;
}

#headline {
    background: -moz-linear-gradient(left, #ffae01 0%, #f8e5a2 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(left, #ffae01 0%, #f8e5a2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ffae01 0%, #f8e5a2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #ffae01 0%, #f8e5a2 100%); /* IE10+ */
    background: linear-gradient(to right, #ffae01 0%, #f8e5a2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffae01', endColorstr='#f8e5a2', GradientType=1); /* IE6-9 */

    clear: both;
    margin: 0;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 0;
    padding: 7px 12px 5px 15px;
<!--[ if IE ]-->
    height : 30px;
<!--[ endif ]-->
}

/************* *****************/
td.win, table.first {
    background-color: #FFBF46;
    text-align: left;
}

td.tie {
    background-color: #fff7ba;
}

td.loose {
    background-color: transparent;
}

.first {
    background-color: #9ac100;
    font-weight: bold;
    text-align: center;
}

.penultimate  {
    background-color: #ffa800;
    font-weight: bold;
    text-align: center;
}

.last {
    background-color: #de0000;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

table.me {
    background-color: #FBD670;
}


/************* CLASSES ***************/
.maincontent {
    background-color: #fff;
    color: #333;
    float: left;
    font-size: 1rem;
    overflow: hidden;
    padding: 0;
    width: 635px;
}

.formfield {
    margin: 5px;
}

.ppp {
    margin: 10px;
}

.headline {
    background: -moz-linear-gradient(left, #ffae01 0%, #f8e5a2 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(left, #ffae01 0%, #f8e5a2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ffae01 0%, #f8e5a2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #ffae01 0%, #f8e5a2 100%); /* IE10+ */
    background: linear-gradient(to right, #ffae01 0%, #f8e5a2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffae01', endColorstr='#f8e5a2', GradientType=1); /* IE6-9 */

    clear: both;
    margin: 0;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 0px 0 0px 0;
    padding: 7px 12px 6px 15px;
}

.tag_cloud {
    margin: 5px 0 0 0;
    padding: 5px;
    border: 2px solid #FE9408;
    background: #FEECA5;
    text-align: left;
}

.tag_cloud span a {
    line-height: 1.5em;
    color: #0183aa;
}

.tag_cloud span a:visited {
    color: #0183aa;
}

.tag_cloud span a:hover {
    color: #0183aa;
}

.tag_cloud span a:active {
    color: #0183aa;
}

.list_element {
    margin: 10px 0;
    padding: 0 0 10px 0;
    border: dashed 1px #000000;
    border-width: 0 0 1px 0;
}

.pny {
    /*display: none;*/
}

.info {
    float: left;
    font-size: 90%;
    padding: 3px;
    margin-left: 5px;
    max-width: 278px;
}

.info h5 {
    background: #fff url(images/arrow_cyan_small.gif) no-repeat left top;
    margin: 0;
    padding: 0 0 2px 18px;
}

.rules caption {
    padding-bottom: 15px;
    font-size: 95%;
    font-style: italic;
}

.rules th {
    border-bottom: 1px solid #000;
    font-size: 90%;
    padding: 0 5px;
    text-align: center;
}

.rules td {
    border-bottom: 1px dotted #000;
    font-size: 85%;
    margin: 0;
    padding: 3px;
    text-align: center;
}

ul.rules > li {
    margin-bottom: 10px;
}

.rule_title {
    font-weight: bold;
}

.rule_subtitle {
    margin-left: 5px;
    text-decoration: underline;
}

.bonus {
    font-style: italic;
    color: grey;
}


/************* media queries ******************/
@media (min-width: 850px) {
    body {
        background: url(images/background.jpg) top center fixed;
        background-size: cover;
    }

    main {
        box-shadow: 0 0 6rem #000000;
    }
}

@media (max-width: 700px) {
    #rightcolumn {
        display: none;
    }

    .maincontent {
        width: 100%;
    }

    form input[type='text'], form input[type='password'] {
        font-size: 1.2rem;
    }
}